{% style %}
    .site-nav__dropdown {
        display: none;
        position: absolute;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 5;
        border: 1px solid var(--header-menudropborder);
        webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    }
    .site-nav__item .meganav {
        right: auto;
        min-width: 280px;
        color: var(--header-menudroptext);
        font-family: var(--g-font-2);
    }
{% endstyle %}
<div class="site-nav__dropdown meganav meganav-3"><div class="container">
  <div class="row"><div class="mega-col mega-link  col ">
      <div class="row"><div class="col-sm-3 d-col-link" style="animation-delay: 0.08s;">
          <div class="mega-col-inner ">
            <div class="menu-title">
              <a href="#">Product Layouts</a>
            </div>
            <div class="widget-inner">
              <ul class="nav-links"><li>
                  <a href="/products/demo-product?view=thumb-bottom">1. Thumbnails - bottom</a>
                </li><li>
                  <a href="/products/demo-product?view=thumb-left">2. Thumbnails - left</a>
                </li><li>
                  <a href="/products/demo-product?view=thumb-right">3. Thumbnails - right</a>
                </li><li>
                  <a href="/products/demo-product?view=without-thumb">4. Without Thumbnails</a>
                </li><li>
                  <a href="/products/demo-product?view=list-stacked">5. List - stacked</a>
                </li><li>
                  <a href="/products/demo-product?view=list-grid"> 6. List - grid</a>
                </li><li>
                  <a href="/products/demo-product?view=collage-s1">7. Collage - style 1</a>
                </li><li>
                  <a href="/products/demo-product?view=collage-s2">8. Collage - style 2</a>
                </li></ul>
            </div>
          </div>
        </div><div class="col-sm-3 d-col-link" style="animation-delay: 0.16s;">
          <div class="mega-col-inner ">
            <div class="menu-title">
              <a href="#">Product Type</a>
            </div>
            <div class="widget-inner">
              <ul class="nav-links"><li>
                  <a href="/products/cream-to-foam-cleanser">Simple Product</a>
                </li><li>
                  <a href="/products/timeless-elegance"> Affiliate Product</a>
                </li><li>
                  <a href="/products/demo-product"> Variable Product</a>
                </li><li>
                  <a href="/products/spf-50"> Sold Out - Comming</a>
                </li><li>
                  <a href="/products/drive-jeans-0110">Video - Shopify</a>
                </li><li>
                  <a href="/products/alicia-dress">Video - Youtube</a>
                </li><li>
                  <a href="/products/night-dress">Video - Vimeo</a>
                </li><li>
                  <a href="/products/rising-charm">3D/AR model</a>
                </li></ul>
            </div>
          </div>
        </div><div class="col-sm-3 d-col-link" style="animation-delay: 0.24s;">
          <div class="mega-col-inner ">
            <div class="menu-title">
              <a href="#">List Featured 1</a>
            </div>
            <div class="widget-inner">
              <ul class="nav-links"><li>
                  <a href="/products/demo-product">Sticky ATC</a>
                </li><li>
                  <a href="/products/deep-leather-blouse-4"> Frequently Bought Together</a>
                </li><li>
                  <a href="/products/demo-product">Count down</a>
                </li><li>
                  <a href="/products/demo-product"> Cross selling Cart</a>
                </li><li>
                  <a href="/products/cream-to-foam-cleanser">Low stock alert</a>
                </li><li>
                  <a href="/products/demo-product">Pickup Store</a>
                </li><li>
                  <a href="/products/am-routine">Delivery Service</a>
                </li><li>
                  <a href="/products/fave-zip-cardigan">Sibling Product</a>
                </li></ul>
            </div>
          </div>
        </div><div class="col-sm-3 d-col-link" style="animation-delay: 0.32s;">
          <div class="mega-col-inner ">
            <div class="menu-title">
              <a href="#">List Featured 2</a>
            </div>
            <div class="widget-inner">
              <ul class="nav-links"><li>
                  <a href="/products/demo-product?view=variant-dropdown">Dropdown Variant</a>
                </li><li>
                  <a href="/products/demo-product?view=thumb-bottom">Swatch Variant Color</a>
                </li><li>
                  <a href="/products/demo-product?view=variant-image">Swatch Variant Image</a>
                </li><li>
                  <a href="/products/demo-product?view=variant-image-square"> Variant Image Square</a>
                </li><li>
                  <a href="/products/demo-product?view=tab-accordion"> Description Accordion</a>
                </li><li>
                  <a href="/products/demo-product?view=des-tabcenter">Description Tab Center</a>
                </li></ul>
            </div>
          </div>
        </div></div>
    </div>
      <div class="mega-col col" style="max-width:20%;flex:0 0 20%;">    
        <div class="row">
          

                <div class="products_menu col mt-3 d-col-link" style="animation-delay: 0.4s;">


<div class="product-card js-product-card product-card--style1 product-card--style9 info-false" data-price="64900" id="product-item-8511565529240">
      <div class="product-card__image-wr">
        <a class="product-card__image js image-content__image-wrapper auto" href="/collections/acne-care/products/pm-routine" style="padding-top:100.0%;" data-image-id="46671414067352">
        <img srcset="//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682&amp;width=165 165w,//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682&amp;width=360 360w,//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682&amp;width=533 533w,//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682&amp;width=720 720w,//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682&amp;width=940 940w,//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682&amp;width=1066 1066w,//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682 2500w
                " src="//qx-aarau.myshopify.com/cdn/shop/files/PMroutine.webp?v=1728440682&amp;width=720" sizes="246px" alt="Evening Skincare Routine" class="scale-in first-image  hover__hide-image lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" data-aspectratio="1.0" loading="lazy" width="2500" height="2500">
             
     <img srcset="//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682&amp;width=165 165w,//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682&amp;width=360 360w,//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682&amp;width=533 533w,//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682&amp;width=720 720w,//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682&amp;width=940 940w,//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682&amp;width=1066 1066w,//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682 2500w
     " src="//qx-aarau.myshopify.com/cdn/shop/files/BrighteningSerum003.webp?v=1728440682&amp;width=720" sizes="246px" alt="Evening Skincare Routine" class="transition second-image lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" data-aspectratio="1.0" loading="lazy" width="2500" height="2500">
  </a>
<div class="product-label rectangular_label ">
    
<div class=" d-inline-block  product-tag product-tag-sale-item product-tag--absolute  txtandnumber mb-1" aria-hidden="true" style="background-color: #d73f0f;color:#ffffff">Sale <span class="product-tag-sale-number-item"> -18% </span></div>
    </div><div class="product-card__overlay d-flex justify-content-center flex-column"><span data-toggle="tooltip" data-placement="left" data-tooltipalltimes="true" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-wishlist" title="" data-handle="pm-routine" data-original-title="Add to Wishlist"><svg class="svg-heart" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.5429 4C13.4999 4 12 6.99984 12 6.99984C12 6.99984 10.5001 4 7.45712 4C4.98412 4 3.02579 6.06895 3.00048 8.53772C2.94892 13.6623 7.06573 17.3066 11.5782 20.3693C11.7026 20.4539 11.8495 20.4992 12 20.4992C12.1505 20.4992 12.2975 20.4539 12.4219 20.3693C16.9338 17.3066 21.0506 13.6623 20.9995 8.53772C20.9742 6.06895 19.0159 4 16.5429 4Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>Add to Wishlist</span><span data-tooltip="true" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-quickview" title="" data-toggle="modal" data-target="#jsQuickview" data-handle="pm-routine" data-pavailable="true" data-viewjdmg="<span class='jdgm-preview-badge' data-id='8511565529240'></span>" data-original-title="Quickshop">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.9844 5.57178C8.50513 5.57178 4.93608 7.58553 2.12638 11.613C2.04618 11.7293 2.00223 11.8666 2.00008 12.0078C1.99794 12.149 2.03769 12.2877 2.11432 12.4063C4.27316 15.7856 7.79444 18.4284 11.9844 18.4284C16.1289 18.4284 19.7225 15.7776 21.8854 12.3907C21.9602 12.2744 22 12.139 22 12.0007C22 11.8624 21.9602 11.7271 21.8854 11.6108C19.7176 8.26273 16.0977 5.57178 11.9844 5.57178Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M12.0029 15.5713C13.9753 15.5713 15.5742 13.9723 15.5742 12C15.5742 10.0276 13.9753 8.42871 12.0029 8.42871C10.0306 8.42871 8.43164 10.0276 8.43164 12C8.43164 13.9723 10.0306 15.5713 12.0029 15.5713Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></path>
</svg>
<span>Quickshop</span><span class=" txt-short hide">
                Our skincare collection is designed for all skin types, offering nourishment, balance,...
              </span></span><span data-tooltip="true" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-compare" title="" data-handle="pm-routine" data-original-title="Compare"><svg class=" icon-add-compare" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.1 4L19.5 7.80002L14.1 12M18.2506 7.80002H4M10 20L4.5 16.2L10 12M5.7875 16.2H20.5" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
<svg focusable="false" class="icon icon-remove" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 18L6 6M18 6L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
<span>Compare</span>
          </span></div>
        <div class="product-card-cart">
          <span class="btn btn-theme js-grid-cart w-100 " title="Add to Cart" data-id="45511232749720">
              <div class="product-card__loading spinner-border" role="status"></div>
              <span>
                
                  Add to Cart
                 
              </span>
          </span>
        </div></div>
      <div class="product-card__info text-left">
        
<a class="mb-1 product-card__type d-inline-block" href="/collections/vendors?filter.p.vendor=Flawless Skincare&amp;q=Flawless Skincare">Flawless Skincare</a>
        <a href="/collections/acne-care/products/pm-routine" title="Evening Skincare Routine" class=" d-block product-card__name ">Evening Skincare Routine</a>
        
        
<div style="" class="jdgm-widget jdgm-preview-badge py-1 small jdgm--done-setup" data-id="8511565529240" data-auto-install="false" data-widget-name="preview_badge" data-impressions-tracked="true" data-views-tracked="true">
      
    <div class="jdgm-prev-badge jdgm--js" data-average-rating="0.00" data-number-of-reviews="0">
  <span class="jdgm-prev-badge__stars" data-score="0.00"><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span><span class="jdgm-star jdgm--off"></span></span>
  <span class="jdgm-prev-badge__text">No reviews</span>
</div>
</div>
        
  <div class="product-card__price  product-card__pricesale "><span class="visually-hidden">Regular price</span>
  $649.00
  <s class="product-card__regular-price">$799.00</s>
  <span class="visually-hidden">Sale price</span></div>

        <ul class="product-card__swatch list-unstyled  sw_color round-color  hide ">
</ul>
      </div>
    </div></div>
              
          

          

          

          

          

          
        </div>
       
        
      </div>
    
  </div>
</div>
</div>