
.product-card-image{position: relative;background: #F5F5F5;padding: 8px;width: 370px;height: 460px;}
.product-card-image .sale{position: absolute;top: 8px;left: 8px;}
.product-card-image .sale .brand-name{background: #fff;color: #000;padding: 2px 5px;font-size: 12px;font-weight: 600;display: block;margin-bottom: 6px;border-radius: 2px;}
.product-card-image .sale .offer{background: #92aca0;color: #fff;padding: 2px 5px;font-size: 12px;font-weight: 600;display: inline-block;border-radius: 2px;}
.product-card-info{padding: 12px;}
.product-card-info .product-title{font-size: 16px;margin-bottom: 5px;}
.product-card-info .product-content{font-size: 16px;font-weight: 300;margin-bottom: 10px;}
.product-card-info > span, .product-card-info s{font-size: 16px;color: #000;}
.product-card-info span{font-weight: 400;}
.product-card-info s{font-weight: 300;}
.grid-switches{display: flex;gap: 10px;margin-top: 10px;}
.grid-switches li.switch{width: 20px;height: 20px;overflow: hidden;position: relative;cursor: pointer;border-radius: 50%;}
.grid-switches li.switch.active{width: 20px;height: 20px;overflow: hidden;box-shadow: 0 0 1px 1px #000;border: 2px solid #fff;}
.brown-switch{background: #86461E;}
.black-switch{background: #000;}
.tooltip-label{font-size: 11px;text-transform: none;line-height: 18px;transition: all .2s ease-in-out;visibility: hidden;opacity: 0;background-color: #111;color: #fff;border-radius: 2px;padding: 0 5px;white-space: nowrap;position: absolute;bottom: calc(100% + 20px);left: 50%;transform: translate(-50%);}
.grid-switches li.switch:hover .tooltip-label{opacity: 1;bottom: calc(100% + 7px);visibility: visible;z-index: 2;}
.grid-switches li.switch:hover{overflow: visible;}
.tooltip-label:before{content: "";border: 5px solid transparent;border-top-color: #111;position: absolute;bottom: -9px;left: 50%;margin-left: -5px;}