.collection__title {
    padding: 0 15px;
    text-transform: uppercase;
}

.tii_product-style1 {
    li {
        margin-bottom: 10px;
    }
    img{
        height: 100%;
    }
    .product-image {
        
        .second-image {
            display: none;
        }
        &:hover {
            .first-image {
                display: none;
            }
            .second-image {
                display: block;
            }
        }
    }
    .product-brand {
        font-size: 16px;
        font-weight: 600;
    }
    .product-title {
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 5px;
    }
    .product-media {
        margin-bottom: 10px;
        position: relative;
    }
    .product-variant-swatch {
        display:flex;
        align-items:center;
    }
    .price {
        margin-bottom: 5px;
    }

    .product-media {
        margin-bottom: 10px;
        position: relative;
        height: 420px;
        @media screen and (max-width: 749px) {
            height: 250px;
        } vertical-align: middle;
        background: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
  .tii_product-color-swatches {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-right: .5rem;
  }
  .tii_product-color-swatches.active{
      width: 19px;
      height: 19px;
  }
  .tii_product-color-swatches::after {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: inherit;
    background: inherit;
    overflow: hidden;
  }
  
  .tii_product-color-swatches::before {
    content: "";
    position: absolute;
    box-shadow: 0 0 0 1px #fff, inset 0 0 0 2px #fff;
    background: #fff;
    inset: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    transition: var(--tii-transition);
  }
  
  .tii_product-color-swatches[data-disabled]::before {
    background: linear-gradient(to bottom right, transparent calc(50% - 1px), #ebebeb, transparent calc(50% + 1px)) no-repeat;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .tii_product-color-swatches.active::before,
  .tii_product-color-swatches:hover::before {
    box-shadow: 0 0 0 1px #000, inset 0 0 0 2px #fff;
  }
  .tii_tooltip {
      position: relative;
      cursor: pointer;
  }
  .tii_tooltip:hover .tii_tooltip-content {
      opacity: 1;
      visibility: visible;
      transform: var(--tooltip-transform, translateY(-10px) translateX(-50%));
      -webkit-transform: var(--tooltip-transform, translateY(-10px) translateX(-50%));
  }
  .tii_tooltip-content {
      position: absolute;
      bottom: var(--tooltip-y, 100%);
      left: var(--tooltip-left, 50%);
      right: var(--tooltip-right, unset);
      transform: var(--tooltip-transform, translateY(-15px) translateX(-50%));
      -webkit-transform: var(--tooltip-transform, translateY(-15px) translateX(-50%));
      background: #111;
      color: #fff;
      line-height: 1;
      border-radius: 3px;
      max-width: 360px;
      padding: 7px 12px;
      z-index: 10;
      text-align: center;
      font-size: calc(var(--base-font-size) - 2px);
      text-transform: none;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: var(--tii-transition);
      pointer-events: none;
      will-change: transform;
      font-weight: 400;
  }
  
  .tii_tooltip-content:before {
      border: solid transparent;
      border-width: 5px;
      content: '';
      height: 0;
      position: absolute;
      width: 0;
      top: var(--tooltip-y, 100%);
      left: var(--tooltip-left, 50%);
      margin-left: 0;
      -webkit-transform: var(--tooltip-transform, translateX(-50%) translateZ(0));
      transform: var(--tooltip-transform, translateX(-50%) translateZ(0));
      transform-origin: 0;
      border-top-color: #111;
  }
  
  .tii_tooltip:hover .tii_tooltip-content {
      opacity: 1;
      visibility: visible;
      transform: var(--tooltip-transform, translateY(-10px) translateX(-50%));
      -webkit-transform: var(--tooltip-transform, translateY(-10px) translateX(-50%));
  }


  .badges {
    position:absolute;
    top:8px;
    left:8px;
    z-index:1;
}
.badges .badge-new{
background: #fff;
color: #000;
padding: 2px 5px;
font-size: 12px;
font-weight: 600;
display: block;
margin-bottom: 6px;
border-radius: 2px;
}
.badges .badge-offer{
background: #92aca0;
color: #fff;
padding: 2px 5px;
font-size: 12px;
font-weight: 600;
display: inline-block;
border-radius: 2px;
}